
div{
width: 100px;
height: 100px;
float: left;
background-color: #EEE;
counter-increment: count;
position: relative;
border-radius: 50%;
border: 2px solid black;
box-shadow:-7px -5px 0 0 #e91e63, 7px 5px 0 0 #2196f3;
margin: 25px;
}

div::after{
    content: counter(count);
    position: absolute;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    top: -10px;
    right: 40px;
}

div::before{
    content: "Elemnt";
    position: absolute;
    color: black;
    left:30px ;
    top: 30px;
}