.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: auto auto repeat(3,1fr) auto;
  gap: 15px;
}
div{
  background-color:#2196F3 ;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.eight{
  grid-row: 1;
  grid-column: 1/11;
}

.two {
  grid-row:2;
  grid-column: 1/9;
}
.three{
  grid-row:2;
  grid-column: 9/11;
}

.four{
  grid-row:3;
  grid-column: 1/5;
}

.five{
  grid-row:3/6;
  grid-column: 5/11;
}

.six{
  grid-row:4;
  grid-column: 1/5;
}

.seven{
  grid-row:5;
  grid-column: 1/5;
}

.one{
  grid-row:6;
  grid-column: 1/11;

}