* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
}

.product-card {
  width: 100%;
  background-color: #eeeeee;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  line-height: 26px;
}

.product-title {
  font-weight: bold;
}

@media (min-width: 768px) {
  .product-card {
    width: calc(50% - 40px);
  }

  .product-title {
    color: #ff0000;
  }
}

@media (min-width: 992px) {
  .product-card {
    width: calc(25% - 40px);
  }

  .product-title {
    color: #1a9f93;
  }
}
