.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 15px;
  color: white;
  margin: 0 auto;

}

.grid div{
  background-color: #403F3F;
  display: flex;
  justify-content: center;
  align-items: center;
}