div{
    width: 300px;
    height: 60px;
    background-color: #EEE;
    padding: 20px;
    text-align: center;

    margin: auto;
    margin-bottom: 20px;

}

div:empty{
    background-color: red;

}