.one{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: italic;
}



.two{
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}



.three{
    font-family: "Jomhuria", serif;
    font-weight: 400;
}