div {
  display: block;
  width: 600px;
  margin: 15px auto;
  padding: 20px;
  background-color: #eee;
  caret-color: #fa6e6e;
  position: relative;
}
input {
  outline: none;
  border: none;
  background-color: #eee;
}


div::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to left,#019789 50% , #f44336 50%);
}